<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Uber App</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/mobile.css') }}">
	<script data-main="/public/js/mobile/main" src="{{ url_for('static', filename='js/libraries/require-min.js') }}"></script>
	
</script>
</head>
<body>
	<div id="content"></div>
</body>
</html>